<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
				<span>Reporte Stock de Insumos</span>
            </div>     
            <div class="box-wrap">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Categoria :</label>
                            <select id="cmbCategoria" name="cmbCategoria" class="form-control">
                                <option>Categoria 1</option>
                                <option>Categoria 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Proveedor :</label>
                            <select id="cmbProveedor" name="cmbProveedor" class="form-control">
                                <option>Proveedor 1</option>
                                <option>Proveedor 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                <label>Marca :</label>
                                <select id="cmbMarca" name="cmbMarca" class="form-control">
                                    <option>Marca 1</option>
                                    <option>Marca 2</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4 btns-bandeja">
                        <button type="button" class="btn btn-primary panera" (click)="generarReporteInsumo()">Generar Reporte</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>