<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
                <span>Mantenimiento de Parametros</span>
            </div>    
            <div class="box-wrap">      
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Tipo Parametro :</label>
                    <select id="cmbTip" name="cmbTip" class="form-control" [(ngModel)]="idTipo">
                        <option value='0'>---- Todos ----</option>
                        <option *ngFor="let tipoParametro of tipoParametros" value="{{tipoParametro.id}}">{{tipoParametro.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Nombre :</label>
                    <input type="text" class="form-control"	id="razsocial" name="nombre" placeholder="Nombre" maxlength="50" [(ngModel)]="nombre"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group btns-bandeja" [hidden]="!verBotones">
                    <button type="button" class="btn btn-primary panera" (click)="buscarParametros()">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarParametro()">Nuevo</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row panera-table">
            <table class="table">
                <thead>
                    <tr>
                        <th width="5%">Id</th>
                        <th width="30%">Tipo Parametro</th>
                        <th width="55%">Nombre</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parametro of parametros | slice: pageSize | slice: 0:itemsPerPage ; let i = index " >
                        <td>{{ (((currentPage-1) * 10 ) + i) + 1 }}</td>
                        <td>{{parametro.nomTipo}}</td>
                        <td>{{parametro.nombre}}</td>
                        <td>
                            <button type="button" class="btn" (click)="editarParametros(parametro.id)">
                                <img src="../../../../../assets/img/icons/edit.png">
                            </button>   
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="valor === true" class="pagination-list">
                <ngb-pagination [collectionSize]="parametros.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
            </div>
        </div>
        </div>
    </div>
</div>
</section>