<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
                <span>Bandeja de Recetas</span>
            </div>    
            <div class="box-wrap">  
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tipo Receta :</label>
                            <select id="cmbTipoReceta" name="cmbTipoReceta" class="form-control" [(ngModel)]="idTipoReceta">
                                <option value='0'>---- Todos ----</option>
                                <option *ngFor="let tipoReceta of tipoRecetas" value="{{tipoReceta.id}}">{{tipoReceta.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <app-input-name ngDefaultControl type="text" id="nomReceta" name="nomReceta" [(ngModel)]="nomReceta" ></app-input-name>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group btns-bandeja" id="btns-bandeja">
                            <button type="button" class="btn btn-primary panera" (click)="buscarRecetas()">Buscar</button>
                            <button type="button" class="btn btn-secondary" (click)="agregarReceta()">Nuevo</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="panera-table">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="30%">Tipo</th>
                                    <th width="60%">Nombre</th>
                                    <th width="5%" class="td-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let receta of recetas | slice: pageSize | slice: 0:itemsPerPage ; let i = index ">
                                    <td>{{ (((currentPage-1) * 10 ) + i) + 1 }}</td>
                                    <td>{{receta.nomTipo}}</td>
                                    <td>{{receta.nomReceta}}</td>
                                    <td>
                                        <div class="panera-btn-edit" (click)="editarReceta(receta.id)"></div>                             
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panera-grid-pagination">
                            <ngb-pagination [collectionSize]="recetas.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<div class="box-loading" [hidden]="!loading">
    <img src="../../../../assets/img/loading.gif" />
</div>
