.panera-card {
    width: 100%;
	/*background-color: #b35d21;
	border-color: #b35d21;*/
}

.panera-card .panera-card-header {
    width: 100%;
    background-color: #b35d21;
}

.panera-card .panera-card-body {
    width: 100%;
}