<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
				<span>Ingreso de Insumo</span>
            </div>     
            <div class="box-wrap">     
                <div class="row">
                    <div class="col-sm-4" [hidden]="!verTipoIngreso">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Tipo Ingreso :</label>
                                <input type="text" class="form-control"	id="txtTipoIngreso" name="txtTipoIngreso" [(ngModel)]="insumoIngreso.nomTipo" readonly />    
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-4" [hidden]="!verCompra">
                        <div class="form-group">
                            <label>Compra Serie :</label>
                            <input type="text" class="form-control"	id="txtSerie" name="txtSerie" [(ngModel)]="insumoIngreso.numCompra" readonly />    
                        </div>
                    </div>           
                    <div class="col-sm-4" [hidden]="!verEstado">
                        <div class="form-group">
                            <label>Estado :</label>
                            <input type="text" class="form-control"	id="txtEstado" name="txtEstado" [(ngModel)]="insumoIngreso.nomEstado" readonly />    
                        </div>
                    </div>                                       
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Observación :</label>
                            <app-input-observacion ngDefaultControl  id="obs" name="obs" 
                            [(ngModel)]="insumoIngreso.observacion" [valueParent]="insumoIngreso.observacion">

                            </app-input-observacion>
                        </div>
                    </div>           
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="panera-table">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th width="25%">Tipo categoría</th>
                                    <th width="25%">Categoria</th>
                                    <th width="25%">Insumo</th>
                                    <th width="10%">Cantidad</th>
                                    <th width="2%"></th>
                                    <th width="2%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ingresoInsumo of ingresoInsumos | slice: pageSize | slice: 0:itemsPerPage ; let i = index " >
                                    <td>{{ (((currentPage-1) * 10 ) + i) + 1 }}</td>
                                    <td>{{ingresoInsumo.nomTipoCategoria}}</td>
                                    <td>{{ingresoInsumo.nomCategoria}}</td>
                                    <td>{{ingresoInsumo.nomInsumo}}</td>
                                    <td>{{ingresoInsumo.cantidad}}</td>
                                    <td>
                                        <div class="panera-btn-edit" (click)="editarInsumo(i, contentModal)"></div>
                                    </td>
                                    <td>
                                        <div class="panera-btn-delete" (click)="eliminarInsumo(i)"></div>                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panera-grid-pagination">
                            <ngb-pagination [collectionSize]="ingresoInsumos.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group float-left" id="btns-guardar">
                            <button type="button" id="btn-guardar" class="btn btn-primary panera" (click)="guardarInsumoIngreso(successModal)" [hidden]="!verBtnGuardar">Registrar Ingreso Insumos</button>
                            <button type="button" class="btn btn-primary panera" (click)="almacenarInsumoIngreso(successModal)" [hidden]="!verBtnAlmacenar">Enviar a Almacen</button>
                            <button type="button" class="btn btn-secondary " (click)="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #successModal let-modal>
        <div id="success_tic">
            <div class="page-body">
                <div id="svgSuccess">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                </div>
                <div id="svgError">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                </svg>            
                </div>
                <p id="successMessage"></p>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-primary panera" (click)="modal.dismiss('Cross click')">Aceptar</button>
                </div>
                <br />
            </div>
        </div>
    </ng-template>       
</section>

<!-- The Modal -->
<ng-template #contentModal let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-basic-title">Agregar Insumo</h5>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tipo categoría:</label>
                            <select id="cmbTipoCategoria" name="cmbTipoCategoria" class="form-control" [(ngModel)]="idTipoCategoria" (change)="listarCategorias()">
                                <option value="0">---- Seleccione ----</option>
                                <option *ngFor="let tipoCategoria of tipoCategorias" value="{{tipoCategoria.id}}">
                                    {{tipoCategoria.nombre}}    
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Categoria :</label>
                            <select id="cmbCategoria" name="cmbCategoria" class="form-control" [(ngModel)]="idCategoria" (change)="listarInsumos()">
                                <option value="0">---- Seleccione ----</option>
                                <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
                                    {{categoria.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Insumo :</label>
                            <select id="cmbInsumo" name="cmbInsumo" class="form-control" [(ngModel)]="idInsumo">
                                <option value="0">---- Seleccione ----</option>
                                <option *ngFor="let insumo of insumos" value="{{insumo.id}}">
                                    {{insumo.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Proveedor :</label>
                            <select id="cmbProveedor" name="cmbProveedor" class="form-control" [(ngModel)]="idProveedor">
                                <option value="0">---- Seleccione ----</option>
                                <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">
                                    {{proveedor.razonSocial}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Marca :</label>
                            <select id="cmbMarca" name="cmbMarca" class="form-control" [(ngModel)]="idMarca">
                                <option value='0'>---- Seleccionar ----</option>
                                <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Precio :</label>
                        <app-input-decimal ngDefaultControl [valueParent]="precio" 
                            id="txtPrecio" name="txtPrecio" maxlength="50" [(ngModel)]="precio" >
                        </app-input-decimal>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Cantidad :</label>
                        <app-input-decimal ngDefaultControl [valueParent]="cantidad" 
                            id="txtCantidad" name="txtCantidad" maxlength="50" [(ngModel)]="cantidad" >
                        </app-input-decimal>
                    </div>                         
                    <div class="col-sm-6">
                        <label>Cantidad Real :</label>
                        <app-input-decimal ngDefaultControl [valueParent]="cantidadReal" 
                            id="txtCantidadReal" name="txtCantidadReal" maxlength="50" [(ngModel)]="cantidadReal" >
                        </app-input-decimal>
                    </div>      
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary panera" data-dismiss="modal" (click)="guardarInsumo()">Agregar Insumo</button>
            </div>
        </div>
    </div>
</ng-template>