<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
                <span>Bandeja de Tiendas</span>
            </div>    
            <div class="box-wrap">      
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Nombre :</label>
                    <app-input-name ngDefaultControl [valueParent]="nombre" type="text" id="nombre" name="nombre" [(ngModel)]="nombre"></app-input-name>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>RUC :</label>
                    <input type="text" class="form-control"	id="ruc" name="ruc" maxlength="50" [(ngModel)]="ruc" (keypress)="keyPressRuc($event)"/>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group btns-bandeja" id="btns-bandeja">
                    <button type="button" class="btn btn-primary panera" (click)="buscarTienda()">Buscar</button>&nbsp;
                    <button type="button" class="btn btn-secondary" (click)="agregarTienda()">Nuevo</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="panera-table">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th width="35%">Nombre</th>
                            <th width="15%">RUC</th>
                            <th width="45%">Direccion</th>
                            <th width="2%" class="td-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tienda of tiendas | slice: pageSize | slice: 0:itemsPerPage ; let i = index " >
                            <td>{{ (((currentPage-1) * 10 ) + i) + 1 }}</td>
                            <td>{{tienda.nombre}}</td>
                            <td>{{tienda.ruc}}</td>
                            <td>{{tienda.direccion}}</td>
                            <td>
                                <div class="panera-btn-edit" (click)="editarTienda(tienda.id)"></div>
                            </td>
                        </tr>
                    </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panera-grid-pagination">
                            <ngb-pagination [collectionSize]="tiendas.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
