<section class="pull-main-content">
    <div class="scroll-contenido">
        <div class="content-body">
            <div class="title-form">
                <span>Bandeja de Insumos</span>
            </div>    
            <div class="box-wrap">      
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tipo categoría :</label>
                            <select id="cmbTipoCategoria" name="cmbTipoCategoria" class="form-control" [(ngModel)]="idTipoCategoria" (change)="listarCategorias($event.target.value)">
                                <option value='0'>---- Todos ----</option>
                                <option *ngFor="let tipocategoria of tipocategorias" value="{{tipocategoria.id}}">{{tipocategoria.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Categoria :</label>
                            <select id="cmbCategoria" name="cmbCategoria" class="form-control" [(ngModel)]="idCategoria">
                                <option value='0'>---- Todos ----</option>
                                <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nombre}}</option>
                            </select>
                        </div>
                    </div>                                        
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre :</label>
                            <app-input-name ngDefaultControl  type="text"id="nombre" name="nombre" [(ngModel)]="nombre" ></app-input-name>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group btns-bandeja" id="btns-guardar">
                            <button type="button" class="btn btn-primary panera" (click)="listarInsumos()">Buscar</button>&nbsp;
                            <button type="button" class="btn btn-secondary" (click)="agregarInsumo()">Nuevo</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="panera-table">
                            <thead>
                                <tr>
                                    <th width="3%">#</th>
                                    <th width="25%">Tipo categoría</th>
                                    <th width="25%">Categoria</th>
                                    <th width="45%">Nombre</th>
                                    <th width="2%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let insumo of insumos | slice: pageSize | slice: 0:itemsPerPage ; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{insumo.nomTipoCategoria}}</td>
                                    <td>{{insumo.nomCategoria}}</td>
                                    <td>{{insumo.nombre}}</td>
                                    <td>
                                        <div class="panera-btn-edit" (click)="editarInsumo(insumo.id)"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panera-grid-pagination">
                            <ngb-pagination [collectionSize]="insumos.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
