@import '../../../../app.component.scss';
@import '../../../../commons/scss/panera-table.scss';
@import '../../../../commons/scss/panera-form.scss';

/*
.pagination-list{
    width:100%;
    float: right;
}
.btn.btn-secondary{
    margin-right: 15px;
}*/

